

<div class="my-posts list-pag">
  <ul class="list-group">
    <h1 class="list-group-item back" style="text-align:center; width:100%;">Matching Requests</h1>
    <% @posts.each do |post| %>
      <% @post_id = post.id %>
        <li class="list-group-item back">
          <div class="post back">
            <p> I have <%= post['amount'] %> <%= post['curr_from']%> and I need <%= post['curr_to'] %>
              <% if post[:before_date] != nil && post[:before_date] > Date.today%>
                before the <%= post['before_date'] %> </p>
              <% end %>

              <% if post[:comment] != nil%>
                <p> Comment: <%= post['comment'] %> </p>
              <% end %>

            <hr style='width: 100%'>

            <% @chats = Chat.where(post_id: @post_id) %>
            <% @chats.each do |chat|%>
              <p> <strong><%= chat.sender_username %>:</strong>  <%= chat.body %> </p>
              <p>(<%= chat.date_msg%>)</p>
            <% end %>

            <form class="" action="/chat" method="post">
              <input type="text" name="body">
              <input type="hidden" name="post_id" value="<%= post['id'] %>">
              <input type="hidden" name="date_msg" value= <%= Date.today %> >
              <button>Comment</button>
            </form>
          </div>
    <% end %>
      </li>
  </ul>
</div>
