<h1>Matching Request</h1>

<ul class="list-group back">
  <% @posts.each do |post| %>
    <li class="list-group-item">
      <p>I have: <%= post['amount'] %> <%= post['curr_from']%> and I want <%= post['curr_to'] %> </p>
        <% if post[:before_date] != nil && post[:before_date] > Date.today%>
          <p>before the <%= post['before_date'] %> </p>
        <% end %>

        <% if post[:comment] != nil%>
          <p>Comment: <%= post['comment'] %></p>
        <% end %>
        <p>Chat</p>
        <%= session[:user_id] %>
        <input id='chat_box' type="text" name="message">


    </li>
  <% end %>
</ul>
