<h1>My Requests</h1>

<div class="list_item">
  <% @posts.each do |post| %>
  <% if post['user_id'] === session[:user_id] %>
    <p>I have: <%= post['amount'] %> <%= post['curr_from']%> </p>
    <p>and I want <%= post['curr_to'] %> before the <%= post['before_date'] %> </p>
    <p> I live in <%= post['post_code'] %></p>

    <button onclick="location.href='/post/<%= post['id']%>/edit'" type="button">Edit request</button>

    <form action="/post/<%= post['id'] %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <button>Delete</button>
    </form>
    <hr>
    <% end %>
  <% end %>

</div>
